@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

.app {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: black;

    // text-transform: uppercase;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar {
    background-color: #3782c4;
    display: flex;
    flex-direction: column;
    min-width: 20%;
    max-width: 30%;
    padding: 30px;
}

.sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px 0;
    transition: all 300ms;

    &:first {
        margin-top: 0;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    &:hover {
        background-color: rgba($color: #FFF, $alpha: 0.1);
    }

    &.selected {
        background-color: rgba($color: #FFF, $alpha: 0.2);
    }

    p {
        margin-left: 20px;
    }
}

.content {
    padding: 25px;

    // child
    flex-grow: 1;
}

main {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

$skew: 20deg;
$base-color: #3c3c3c;
$text-color: #ffffff;
$tint-color: #0D81C9;
$text-input-color: #4E5357;

form {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    color: $text-color;
    margin: 10px 0px;

    div {
        width: 100%;
    }

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        background-color: transparent;
        box-sizing: border-box;
        border: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: $text-color;

        // text-transform: uppercase;

        &::placeholder {
            color: darken($text-color, 10%);
        }
    }
}

.skew-fix {
    display: inline-block;
    transform: skew($skew);
}

.parallelogram {
    transform: skew(-$skew);
    padding: 0px 20px;
    background-color: lighten($base-color, 20%);
    display: flex;
    justify-content: center;

    &:hover {
        background-color: lighten($base-color, 10%);
    }
}

h1 {
    padding: 0px 20px;
}

.button {
    border: none;
    width: 100px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;

    &.main {
        background-color: $tint-color;

        &:hover {
            background-color: darken($tint-color, 10%);
        }
    }
}

.overlay {
    background-color: black;
}

.survey-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    .row-element {
        width: auto;
        margin: 5px 0px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-decoration: none;
        cursor: pointer;
        height: 50px;

        &:hover {
            .code-header {
                background-color: darken($tint-color, 10%);
            }

            > div {
                background-color: lighten($base-color, 10%);
            }
        }

        > div {
            width: 100%;
            display: inline-block;
            text-align: start;
            padding: 15px 24px;
        }

        .code-header {
            justify-self: start;
            width: 100px;
            text-align: center;
            padding: 15px 10px;
            background-color: $tint-color;
        }
    }
}

.text-element {
    margin: 15px 32px;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.cs {
    justify-self: start;
    width: 40px;
    display: inline-block;
    height: 50px;
}

.cs-connected {
    background-color: green;
}

.cs-disconnected {
    background-color: red;
}

.cs-failed {
    background-color: red;
}

.cs-connecting {
    background-color: $tint-color;
}

.category {
    $divider-width: 1.5px;

    border-width: 0;
    border-top-width: $divider-width;
    border-style: solid;
    border-color: #0D81C9;
    width: 90%;
    padding: 15px 0;

    &:last-child {
        border-bottom-width: $divider-width;
    }

    .categoryName {
        color: #0D81C9;
    }

    .instance {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 15px;
        color: #7F8FA4;

        &:not(:nth-child(2)) {
            border: 0 solid #7F8FA4;
            border-top-width: 1px;
            margin-top: 20px;
        }

        > * {
            width: 12em;
            word-wrap: break-word;
        }

        .iName img {
            vertical-align: middle;
        }

        .decisions {
            width: 20em;

            > :not(:first-child) {
                padding-top: 20px;
            }

            > * {
                display: flex;
                flex-direction: row;
            }

            .check {
                border-radius: 50%;
                border: solid 1px #7F8FA4;
                width: 1em;
                height: 1em;
                margin-right: 10px;
                flex: none;

                &.checked {
                    background-color: #8BC34A;
                }
            }
        }
    }
}

.videoland-container {
    background-color: #e9ebee;
    justify-content: center;

    .videoland-popup {
        display: inline-block;
        width: 700px;
        min-height: 600px;
        background-color: white;
        border-radius: 12px;
        align-self: center;

        .header-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 4px 0;
            margin-left: 20px;

            p {
                margin-left: 20px;
                font-size: 16px;
                font-weight: 300;
            }
        }

        .popup-content {
            padding: 20px 60px;

            p {
                color: $text-input-color;
            }

            .popup-message {
                font-size: 40px;
            }

            .popup-question {
                font-size: 28px;
            }
        }

        .buttons-container {
            margin: 60px 40px 40px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .cancel-button {
                background-color: transparent;
                color: $tint-color;
                margin-right: 20px;

                &:hover {
                    color: lighten($tint-color, 10%);
                }

                &:active {
                    color: lighten($tint-color, 16%);
                }
            }
        }
    }

    .videoland-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -260px;
        align-items: center;
        width: 600px;

        .videoland-logo {
            width: 478px;
            height: 105px;
        }

        .brg-login-button {
            margin-top: 60px;
            border-radius: 28px;
            display: flex;
            justify-content: center;
            width: 100%;

            .brg-login-button-content {
                display: flex;
                flex-direction: row;
                align-items: center;

                p {
                    margin-left: 20px;
                    text-transform: none;
                }
            }
        }

        .divider {
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            font-weight: bold;

            p {
                margin: 0 10px;
                color: $text-input-color;
            }
        }
    }
}

.input-container {
    margin-top: 20px;
    margin-bottom: 20px;

    .input-field {
        outline: none;
        padding: 10px 0 4px;
        font-weight: 400;
        font-size: 24px;
        color: $text-input-color;

        &::placeholder {
            color: #A7A9AB;
        }
    }
}

$login-button-color: #3C5A98;

.login-container {
    display: flex;
    flex-direction: column;
    height: 260px;
    align-items: flex-end;

    .login-button {
        width: 200px;
        background-color: $login-button-color;

        &:hover {
            background-color: lighten($login-button-color, 5%);
        }

        &:active {
            background-color: lighten($login-button-color, 15%);
        }
    }
}

.line {
    height: 4px;
    width: 100%;
    background-color: #D3D4D5;

    &.small {
        height: 2px;
    }
}

.checkbox-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .checkbox-square {
        height: 20px;
        width: 20px;
        margin: 0;
        padding: 0;
        outline: none;
        border: 3px solid $tint-color;
        background-color: transparent;
        border-radius: 4px;
        margin-right: 20px;
        transition: all 300ms;

        &:hover {
            background-color: rgba($tint-color, 0.2);
        }

        &:active {
            background-color: rgba($tint-color, 0.9);
        }

        &.selected {
            background-color: $tint-color;
        }
    }

    p {
        margin: 10px 0;
        padding: 0;
        font-size: 16px;
    }
}

.btn {
    outline: none;
    border: none;
    height: 60px;
    padding: 0 30px;
    background-color: $tint-color;
    transition: all 300ms;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 12px;

    &:hover {
        background-color: lighten($tint-color, 5%);
    }

    &:active {
        background-color: lighten($tint-color, 15%);
    }
}
